{% extends 'parts/layout-advertisers.twig' %}

{% block title %}
	<title>Publishers advertisers - ICEX Media</title>
{% endblock %}


{% block content %}
	{#PUBLISHERS ADVERTISERS#}
	<div class="std-adv" style="background-image: url(img/contact-us-bg.jpg)">
		<div class="std-adv__container container">
			<div class="std-adv__title-wrap">
				<h1 class="std-adv__title">Our Publishers</h1>
				<p class="std-adv__subtitle">Your ads can be displayed on the following sites</p>
			</div>
			<div class="std-adv__content std-adv__content_middle">

			</div>
		</div>
	</div>
	{#/PUBLISHERS ADVERTISERS#}
{% endblock %}
