{% extends 'parts/layout-advertisers.twig' %}

{% block title %}
	<title>Ads Advertisers - ICEX Media</title>
{% endblock %}


{% block content %}
{#HOME ADVERTISERS#}
	<div class="std-adv"  style="background-image: url(img/contact-us-bg.jpg)">
		<div class="std-adv__container container">
			<h1 class="std-adv__title">Welcome back !</h1>
			<div class="std-adv__content">
				{#ADV TABLE#}
				<div class="adv-table adv-table_ads-adv">
					{#ADV TABLE HEAD#}
					<div class="adv-table__head">
						<div class="adv-table__column">
							<p class="adv-table__title">#</p>
						</div>
						<div class="adv-table__column">
							<p class="adv-table__title">Title</p>
						</div>
						<div class="adv-table__column">
							<p class="adv-table__title">Title</p>
						</div>
						<div class="adv-table__column">
							<p class="adv-table__title">Ad type</p>
						</div>
						<div class="adv-table__column">
							<p class="adv-table__title">Ad complete</p>
						</div>
						<div class="adv-table__column">
							<p class="adv-table__title">Approved by admin</p>
						</div>
						<div class="adv-table__column">
							<p class="adv-table__title">Campaigns</p>
						</div>
						<div class="adv-table__column">
							<p class="adv-table__title">Options</p>
						</div>
					</div>
					{#/ADV TABLE HEAD#}

					{#ADV TABLE BODY#}
					<div class="adv-table-body">
						<div class="adv-table-row">
							<div class="adv-table__column">
								<p class="adv-table__title">#</p>
							</div>
							<div class="adv-table__column">
								<p class="adv-table__title">Title</p>
							</div>
							<div class="adv-table__column">
								<p class="adv-table__title">Title</p>
							</div>
							<div class="adv-table__column">
								<p class="adv-table__title">Ad type</p>
							</div>
							<div class="adv-table__column">
								<p class="adv-table__title">Ad complete</p>
							</div>
							<div class="adv-table__column">
								<p class="adv-table__title">Approved by admin</p>
							</div>
							<div class="adv-table__column">
								<p class="adv-table__title">Campaigns</p>
							</div>
							<div class="adv-table__column">
								<p class="adv-table__title">Options</p>
							</div>
						</div>
					</div>
					{#/ADV TABLE BODY#}
				</div>
				{#/ADV TABLE#}
			</div>
		</div>
	</div>
{#/HOME ADVERTISERS#}
{% endblock %}