
{% extends 'parts/layout-publishers.twig' %}

{% block title %}
	<title>Publisher Edit Account</title>
{% endblock %}


{% block content %}

	{#EDIT ACCOUNT#}
	<div class="publishers">
		<div class="publishers__bg" style="background-image: url(img/publish_bg.jpg)">
			<div class="publishers__bg-bottom"></div>
			<div class="publishers__bg-darken">
				<div class="publishers__inner container-publishers">
					<div class="publishers__block">
						<div class="publishers__title">Your Account Data</div>

						{#FORM#}
						<div class="publishers__form publishers__form_edit-account">
							<form>
								<div class="form__input-container">
									<div class="form__input-text-wrap form__input-text-wrap_account">
										<p class="form__input-text form__input-text_required">Name</p>
									</div>
									<div class="form__input-holder">
										<input type="text" class="form__input">
									</div>
								</div>
								<div class="form__input-container">
									<div class="form__input-text-wrap form__input-text-wrap_account">
										<p class="form__input-text form__input-text_required">E-mail</p>
									</div>
									<div class="form__input-holder">
										<input type="text" class="form__input">
									</div>
								</div>
								<div class="form__input-container">
									<div class="form__input-text-wrap form__input-text-wrap_account">
										<p class="form__input-text">Password</p>
										<p class="form__input-under-text">Keep it blank to use the current password</p>
									</div>
									<div class="form__input-holder">
										<input type="text" class="form__input">
									</div>
								</div>
								<div class="form__input-container">
									<div class="form__input-text-wrap form__input-text-wrap_account">
										<p class="form__input-text">Company name</p>
									</div>
									<div class="form__input-holder">
										<input type="text" class="form__input">
									</div>
								</div>
								<div class="form__input-container">
									<div class="form__input-text-wrap form__input-text-wrap_account">
										<p class="form__input-text">Business ID</p>
									</div>
									<div class="form__input-holder">
										<input type="text" class="form__input">
									</div>
								</div>
								<div class="form__input-container">
									<div class="form__input-text-wrap form__input-text-wrap_account">
										<p class="form__input-text">City</p>
									</div>
									<div class="form__input-holder">
										<input type="text" class="form__input">
									</div>
								</div>
								<div class="form__input-container">
									<div class="form__input-text-wrap form__input-text-wrap_account">
										<p class="form__input-text">Country</p>
									</div>
									<div class="form__input-holder">
										<input type="text" class="form__input">
									</div>
								</div>
								<div class="form__input-container">
									<div class="form__input-text-wrap form__input-text-wrap_account">
										<p class="form__input-text">Phone number</p>
									</div>
									<div class="form__input-holder">
										<input type="text" class="form__input">
									</div>
								</div>
								<div class="form__input-container">
									<div class="form__input-text-wrap form__input-text-wrap_account">
										<p class="form__input-text">Payment method</p>
									</div>
									<div class="form__input-holder">
										<input type="text" class="form__input">
									</div>
								</div>
								<div class="form__input-container">
									<div class="form__input-text-wrap form__input-text-wrap_account">
										<p class="form__input-text">Payment details</p>
										<p class="form__input-under-text">
											For example bank account info, Paypal email address, name on a check etc.
										</p>
									</div>
									<div class="form__input-holder">
										<textarea class="form__textarea form__textarea_publishers"></textarea>
									</div>
								</div>
								<div class="form__input-container">
									<div class="form__input-text-wrap form__input-text-wrap_account">
										<span class="form__input-text" >Payment method</span>
									</div>
									<div class="form__input-holder form__input-holder_select">
										<select class="form__input">
											<option class="form__input-select-option">Check</option>
											<option class="form__input-select-option">Check</option>
											<option class="form__input-select-option">Check</option>
											<option class="form__input-select-option">Check</option>
										</select>
									</div>
								</div>
								<div class="form__input-container">
									<div class="form__input-text-wrap">
										<div class="form__input-text-wrap form__input-text-wrap_account">
											<p class="form__input-text">Minimum payment</p>
											<p class="form__input-under-text">Minimum is $50</p>
										</div>

									</div>
									<div class="form__input-holder form__input-holder_mini">
										<input type="text" class="form__input" placeholder="0">
									</div>
									<div class="form__block">
										<div class="form__input-holder form__input-holder_check">
											<input type="checkbox" class="js-checkbox checkbox-styled">
										</div>
										<span class="form__input-text">Hold next payment</span>
									</div>
								</div>
								<div class="form__input-container">
									<div class="form__input-text-wrap form__input-text-wrap_account">
										<p class="form__input-text publishers__form-text-account_never">Never show ads of advertisers</p>
										<p class="form__input-under-text">
											Enter usernames (separated by commas) of advertisers whose ads should never be displayed on your site.
										</p>
									</div>
									<div class="form__input-holder">
										<textarea class="form__textarea form__textarea_publishers"></textarea>
									</div>
								</div>

								<div class="form__input-container">
									<div class="form__input-text-wrap form__input-text-wrap_account">
										<p class="form__input-text">Style</p>
									</div>
									<div class="form__input-holder form__input-holder_select">
										<select class="form__input">
											<option class="form__input-select-option">Siler</option>
											<option class="form__input-select-option">Other Siler</option>
											<option class="form__input-select-option">Not Siler</option>
											<option class="form__input-select-option">Siler</option>
										</select>
									</div>
								</div>
								<div class="form__input-container">
									<div class="form__input-text-wrap form__input-text-wrap_account">
										<span class="form__input-text"></span>
									</div>
									<div class="form__input-holder">
										<button type="submit" class="form__submit btn">
											submit
										</button>
									</div>
								</div>

							</form>
						</div>
						{#/FORM#}

					</div>
				</div>
			</div>
		</div>

		{#STYLE#}
		{#/STYLE#}
	</div>
	{#/EDIT ACCOUNT#}

{% endblock %}