{% extends 'parts/layout-advertisers.twig' %}

{% block title %}
	<title>Edit account Advertisers - ICEX Media</title>
{% endblock %}


{% block content %}
{#EDIT ACCOUNT ADVERTISERS#}
	<div class="std-adv"  style="background-image: url(img/contact-us-bg.jpg)">
		<div class="std-adv__container container">
			<h1 class="std-adv__title">Your Account Data</h1>
			<div class="std-adv__content">
				<div class="form">
					<form>
						<div class="form__input-container">
							<div class="form__input-text-wrap form__input-text-wrap_account">
								<p class="form__input-text form__input-text_required">Name</p>
							</div>
							<div class="form__input-holder">
								<input type="text" class="form__input">
							</div>
						</div>
						<div class="form__input-container">
							<div class="form__input-text-wrap form__input-text-wrap_account">
								<p class="form__input-text form__input-text_required">E-mail</p>
							</div>
							<div class="form__input-holder">
								<input type="text" class="form__input">
							</div>
						</div>
						<div class="form__input-container">
							<div class="form__input-text-wrap form__input-text-wrap_account">
								<p class="form__input-text">Password</p>
								<p class="form__input-under-text">Keep it blank to use the current password</p>
							</div>
							<div class="form__input-holder">
								<input type="password" class="form__input">
							</div>
						</div>
						<div class="form__input-container">
							<div class="form__input-text-wrap form__input-text-wrap_account">
								<p class="form__input-text">Company name</p>
							</div>
							<div class="form__input-holder">
								<input type="text" class="form__input">
							</div>
						</div>
						<div class="form__input-container">
							<div class="form__input-text-wrap form__input-text-wrap_account">
								<p class="form__input-text">Business ID</p>
							</div>
							<div class="form__input-holder">
								<input type="text" class="form__input">
							</div>
						</div>
						<div class="form__input-container">
							<div class="form__input-text-wrap form__input-text-wrap_account">
								<p class="form__input-text">City</p>
							</div>
							<div class="form__input-holder">
								<input type="text" class="form__input">
							</div>
						</div>
						<div class="form__input-container">
							<div class="form__input-text-wrap form__input-text-wrap_account">
								<p class="form__input-text">Country</p>
							</div>
							<div class="form__input-holder">
								<input type="text" class="form__input">
							</div>
						</div>
						<div class="form__input-container">
							<div class="form__input-text-wrap form__input-text-wrap_account">
								<p class="form__input-text">Phone number</p>
							</div>
							<div class="form__input-holder">
								<input type="text" class="form__input">
							</div>
						</div>
						<div class="form__input-container">
							<div class="form__input-text-wrap form__input-text-wrap_account">
								<p class="form__input-text">Style</p>
							</div>
							<div class="form__select-holder">
								<select class="form__select">
									<option value="1">Silver</option>
									<option value="2">Silver</option>
									<option value="3">Silver</option>
									<option value="4">Silver</option>
								</select>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{#/EDIT ACCOUNT ADVERTISERS#}
{% endblock %}

