
{% extends 'parts/layout-publishers.twig' %}

{% block title %}
	<title>Publisher Export</title>
{% endblock %}


{% block content %}

	{#EXPORT#}
	<div class="publishers">
		<div class="publishers__bg" style="background-image: url(img/publish_bg.jpg)">
			<div class="publishers__bg-darken">
				<div class="publishers__inner container-publishers">
					<div class="export">
						<div class="export__title">Export Data to A CSV File</div>
						<div class="export__form">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{#/EXPORT#}

{% endblock %}