{% extends 'parts/layout-advertisers.twig' %}

{% block title %}
	<title>Ads Advertisers - ICEX Media</title>
{% endblock %}


{% block content %}
{#HOME ADVERTISERS#}
	<div class="std-adv js-page"  style="background-image: url(img/contact-us-bg.jpg)">

		{#POP-UP#}
		<div class="popup-box">
			<div class="popup-box__wrap box-modal" id="exampleModal">
				<a href="#" class="popup-box__close box-modal_close arcticmodal-close">
					<span class="popup-box__close-line"></span>
					<span class="popup-box__close-line"></span>
				</a>
				<h3 class="popup-box__title">Code for embded</h3>
				<p class="popup-box__text">
					Some text, as described how to do it. Some text, as described how to do it.
					Some text, as described how to do it. Some text, as described how to do it.
					Some text, as described how to do it.
				</p>
				<div class="form__input-container form__input-container_pop-up-block">
					<div class="form__input-holder">
						<textarea  readonly cols="30" rows="10" class="form__textarea form__textarea_black">&lt;ins class='area-ad' data-area-ad-client=9>&lt;/ins&gt;
&lt;script async defer src=http://localhost/js/area.js&gt;&lt;/script&gt;</textarea>
					</div>
				</div>
				<div class="popup-box__button">
					<button class="btn btn_block" id="close-pop-up">ok</button>
				</div>
			</div>
		</div>
		{#/POP-UP#}

		<div class="std-adv__container container">

			<h1 class="std-adv__title">Your Campaigns</h1>
			<div class="std-adv__content">
				{#ADV TABLE#}
				<div class="adv-table adv-table_ads-adv">
					<div class="adv-table__wrap">

						{#ADV TABLE HEAD#}
						<div class="adv-table__head">
							<div class="adv-table__column">
								<p class="adv-table__title">#</p>
							</div>
							<div class="adv-table__column">
								<p class="adv-table__title">Title</p>
							</div>
							<div class="adv-table__column">
								<p class="adv-table__title">Ad type</p>
							</div>
							<div class="adv-table__column">
								<p class="adv-table__title">Ad complete</p>
							</div>
							<div class="adv-table__column">
								<p class="adv-table__title">Approved by admin</p>
							</div>
							<div class="adv-table__column">
								<p class="adv-table__title">Campaigns</p>
							</div>
							<div class="adv-table__column">
								<p class="adv-table__title">Options</p>
							</div>
						</div>
						{#/ADV TABLE HEAD#}

						{#ADV TABLE BODY#}
						<div class="adv-table__body">
							<div class="adv-table__body-inner">
								{#ROW#}
								<div class="adv-table__row">
									<div class="adv-table__column">
										<p class="adv-table__text">9</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">Kalista</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">Banners Vertical</p>
										<p class="adv-table__text">120x240</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text adv-table__text_red">No</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text adv-table__text_red">No</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">0</p>
									</div>
									<div class="adv-table__column">
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_graphic"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_edit"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_delete"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap popup-link">
											<i class="adv-table__icon adv-table__icon_tag"></i>
										</a>
									</div>
								</div>
								{#/ROW#}

								{#ROW#}
								<div class="adv-table__row">
									<div class="adv-table__column">
										<p class="adv-table__text">8</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">Kalista</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">Banners Vertical</p>
										<p class="adv-table__text">120x240</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text adv-table__text_red">No</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text adv-table__text_red">No</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">0</p>
									</div>
									<div class="adv-table__column">
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_graphic"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_edit"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_delete"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap popup-link">
											<i class="adv-table__icon adv-table__icon_tag"></i>
										</a>
									</div>
								</div>
								{#/ROW#}

								{#ROW#}
								<div class="adv-table__row">
									<div class="adv-table__column">
										<p class="adv-table__text">7</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">Kalista</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">Banners Vertical</p>
										<p class="adv-table__text">120x240</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text adv-table__text_red">No</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text adv-table__text_red">No</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">0</p>
									</div>
									<div class="adv-table__column">
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_graphic"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_edit"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_delete"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap popup-link">
											<i class="adv-table__icon adv-table__icon_tag"></i>
										</a>
									</div>
								</div>
								{#/ROW#}

								{#ROW#}
								<div class="adv-table__row">
									<div class="adv-table__column">
										<p class="adv-table__text">6</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">Kalista</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">Banners Vertical</p>
										<p class="adv-table__text">120x240</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text adv-table__text_red">No</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">Yes</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">0</p>
									</div>
									<div class="adv-table__column">
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_graphic"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_edit"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_delete"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap popup-link">
											<i class="adv-table__icon adv-table__icon_tag"></i>
										</a>
									</div>
								</div>
								{#/ROW#}

								{#ROW#}
								<div class="adv-table__row">
									<div class="adv-table__column">
										<p class="adv-table__text">5</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">Kalista</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">Banners Vertical</p>
										<p class="adv-table__text">120x240</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text adv-table__text_red">No</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text adv-table__text_red">No</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">0</p>
									</div>
									<div class="adv-table__column">
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_graphic"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_edit"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_delete"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap popup-link">
											<i class="adv-table__icon adv-table__icon_tag"></i>
										</a>
									</div>
								</div>
								{#/ROW#}

								{#ROW#}
								<div class="adv-table__row">
									<div class="adv-table__column">
										<p class="adv-table__text">4</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">Kalista</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">Banners Vertical</p>
										<p class="adv-table__text">120x240</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text adv-table__text_red">No</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text adv-table__text_red">No</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">0</p>
									</div>
									<div class="adv-table__column">
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_graphic"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_edit"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_delete"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap popup-link">
											<i class="adv-table__icon adv-table__icon_tag"></i>
										</a>
									</div>
								</div>
								{#/ROW#}

								{#ROW#}
								<div class="adv-table__row">
									<div class="adv-table__column">
										<p class="adv-table__text">3</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">Kalista</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">Banners Vertical</p>
										<p class="adv-table__text">120x240</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text adv-table__text_red">No</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text adv-table__text_red">No</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">0</p>
									</div>
									<div class="adv-table__column">
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_graphic"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_edit"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_delete"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap popup-link">
											<i class="adv-table__icon adv-table__icon_tag"></i>
										</a>
									</div>
								</div>
								{#/ROW#}

								{#ROW#}
								<div class="adv-table__row">
									<div class="adv-table__column">
										<p class="adv-table__text">2</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">Kalista</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">Banners Vertical</p>
										<p class="adv-table__text">120x240</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text adv-table__text_red">No</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text adv-table__text_red">No</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">0</p>
									</div>
									<div class="adv-table__column">
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_graphic"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_edit"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_delete"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap popup-link">
											<i class="adv-table__icon adv-table__icon_tag"></i>
										</a>
									</div>
								</div>
								{#/ROW#}

								{#ROW#}
								<div class="adv-table__row">
									<div class="adv-table__column">
										<p class="adv-table__text">1</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">Kalista</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">Banners Vertical</p>
										<p class="adv-table__text">120x240</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text adv-table__text_red">No</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text adv-table__text_red">No</p>
									</div>
									<div class="adv-table__column">
										<p class="adv-table__text">0</p>
									</div>
									<div class="adv-table__column">
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_graphic"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_edit"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap">
											<i class="adv-table__icon adv-table__icon_delete"></i>
										</a>
										<a href="#" class="adv-table__icon-link-wrap popup-link">
											<i class="adv-table__icon adv-table__icon_tag"></i>
										</a>
									</div>
								</div>
								{#/ROW#}
							</div>
							<div class="table-scroller">
								<div class="table-scroller__itself"></div>
								<div class="table-scroller__arrow"></div>
							</div>
						</div>
						{#/ADV TABLE BODY#}
					</div>
					<div class="adv-table__link-wrap">
						<a href="#" target="_blank" class="adv-table__link">Export data to a CSV file</a>
					</div>
				</div>
				{#/ADV TABLE#}
			</div>
		</div>
	</div>
{#/HOME ADVERTISERS#}
{% endblock %}