{% extends 'parts/layout-advertisers.twig' %}

{% block title %}
	<title>Campaigns Advertisers - ICEX Media</title>
{% endblock %}


{% block content %}
{#CAMPAIGNS ADVERTISERS#}
	<div class="std-adv"  style="background-image: url(img/contact-us-bg.jpg)">
		<div class="std-adv__container container">
			<div class="std-adv__title-wrap">
				<h1 class="std-adv__title">Create a New Order</h1>
				<p class="std-adv__subtitle">Select a package to order</p>
			</div>
			<div class="std-adv__content std-adv__content_middle">
				<div class="new-adv-order">
					<div class="form">
						<form>
							<div class="new-adv-order__text-wrap">
								<p class="new-adv-order__text">Funds currently available on your account:</p>
								<p class="new-adv-order__sum">$0.00</p>
							</div>
							<div class="new-adv-order__submit-container">
								<div class="new-adv-order__submit-holder">
									<button type="submit" class="new-adv-order__submit btn">submit</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{#/CAMPAIGNS ADVERTISERS#}
{% endblock %}