{% extends 'parts/layout.twig' %}

{% block title %}
	<title>Icex Media</title>
{% endblock %}


{% block content %}
	<style>
		ul {
			margin: 110px auto !important;
			width: 500px !important;
			display: block !important;
		}
		a {
			color: black !important;
			font-size: 20px !important;
		}
		a:visited {
			color: gray !important;
		}
	</style>

	<ul>
		<li><a href="01_main.html">01. Main</a></li>
		<li><a href="01_publishers.html">01. publishers</a></li>

	</ul>
{% endblock %}
