{% extends 'parts/layout.twig' %}

{% block title %}
	<title>Icex Media</title>
{% endblock %}


{% block content %}
	<style>
		ul {
			margin: 110px auto !important;
			width: 500px !important;
			display: block !important;
		}
		a {
			color: black !important;
			font-size: 20px !important;
		}
		a:visited {
			color: gray !important;
		}
	</style>

	<ul>
		<li><a href="01_guest-home.html">01. Guest home</a></li>
		<li><a href="02_guest-publisher.html">02. Guest publisher</a></li>
		<li><a href="03_guest-advertises.html">03. Guest advertises</a></li>

	</ul>
{% endblock %}
