{#HEADER#}
<div class="header">
	<div class="header__container container">
		<nav class="header__nav">
			<a href="#" class="header__nav-item">Home</a>
			<a href="#" class="header__nav-item">Advertisers</a>
			<a href="#" class="header__nav-item">Publishers</a>
			<a href="#" class="header__nav-item">Statistic</a>
			<a href="#" class="header__nav-item">Contact Us</a>
		</nav>
		<a href="#" class="header__login">
			<i class="header__login-icon"></i>
			<span class="header__login-text">Login</span>
		</a>
	</div>
</div>
{#/HEADER#}