.contact-us {
	padding-top: 40px + 99px;
	padding-bottom: 85px;
	flex-grow: 20;

	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.7);
		z-index: 10;
	}

	&__container {
		position: relative;
		z-index: 20;
	}
	&__title {
		.guest-title();
		margin-bottom: 41px;
	}
	&__content {

		.guest-form__input-holder {
			width: calc(~"100% - 180px");
		}
		.guest-form__textarea-holder {
			width: calc(~"100% - 180px");
		}
		.guest-form__submit-holder {
			width: calc(~"100% - 180px");
		}
	}
}

@media screen and (max-width: 768px) {
	.contact-us {
		padding-top: 22px + 43px;
		padding-bottom: 34px;

		&__title {
			margin-bottom: 23px;
		}
		&__content {

			.guest-form__input-holder {
				width: 100%;
			}
			.guest-form__textarea-holder {
				width: 100%;
			}
			.guest-form__submit-holder {
				width: 100%;
			}
		}
	}
}