.btn {
	display: inline-block;
	vertical-align: top;
	height: 61px;
	padding: 0 231px;
	border: 1px solid rgba(62, 184, 144, 0.5);
	background: rgba(62, 184, 144, 0.5);
	cursor: pointer;
	position: relative;

	color: white;
	font-size: @16;
	line-height: 66px;

	text-transform: uppercase;
	text-decoration: none;
	transition: all .3s ease;

	-webkit-appearance: none;

	.no-touchevents & {
		&:hover {
			background: @turquoise-color;
			filter: drop-shadow(0 0 4px @turquoise-color);
		}
	}

	&_dark {
		background-color: #383542;
		.no-touchevents & {
			&:hover {
				transition: background-color .2s ease;
				background-color: #45938d;
			}
		}
		&:active {
			background-color: #45938d;
		}
	}
	&_big-paddings {
		padding-left: 59px;
		padding-right: 59px;
	}
	&_block {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}
}

@media screen and (max-width: 1100px) {
	.btn {
		padding: 0;
		width: 100%;
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
	.btn {
		padding: 0 43px;
		width: auto;
		height: 45px;
		line-height: 45px;
		font-size: @14;
	}
}
