.form {

	&__input-container {
		display: flex;
		margin-bottom: 18px;
		.form__input-holder {
			margin-bottom: 0;
		}
	}
	&__input-holder {
		margin-bottom: 18px;
		width: 100%;
		&_select {
			position: relative;
			&:after {
				position: absolute;
				top: 28px;
				right: 15px;
				content: '';
				border: 5px solid transparent;
				border-top-color: white;
				pointer-events: none;
			}
		}
		&_mini {
			width: 301px;
			margin-right: 178px;
		}
		&_check {
			text-align: right;
			width: 28px;
			display: inline-block;
			padding-bottom: 8px;
		}
	}
	&__input {
		display: block;
		width: 100%;
		height: 61px;
		border: 1px solid rgba(255, 255, 255, 0.9);
		background: rgba(255, 255, 255, 0.2);
		padding: 0 22px;

		color: white;
		.regular();
		font-size: @16;
		-webkit-appearance: none;

		&_select {

		}
		&::-webkit-input-placeholder {
			color: rgba(255, 255, 255, 0.5);
			opacity: 1;
		}
		&::-moz-placeholder {
			color: rgba(255, 255, 255, 0.5);
			opacity: 1;
		}
		&:-moz-placeholder {
			color: rgba(255, 255, 255, 0.5);
			opacity: 1;
		}
		&:-ms-input-placeholder {
			color: rgba(255, 255, 255, 0.5);
			opacity: 1;
		}
		&:focus {
			border-color: @turquoise-color;
		}
		&_error {
			border-color: #ff0000;
		}
	}
	&__textarea {
		display: block;
		width: 100%;
		height: 225px;
		border: 1px solid rgba(255, 255, 255, 0.9);
		background: rgba(255, 255, 255, 0.2);
		padding: 10px 20px;

		color: white;
		.regular();
		font-size: @14;
		-webkit-appearance: none;

		&_publishers {
			height: 181px;
		}
		&::-webkit-input-placeholder {
			color: rgba(255, 255, 255, 0.5);
			opacity: 1;
		}
		&::-moz-placeholder {
			color: rgba(255, 255, 255, 0.5);
			opacity: 1;
		}
		&:-moz-placeholder {
			color: rgba(255, 255, 255, 0.5);
			opacity: 1;
		}
		&:-ms-input-placeholder {
			color: rgba(255, 255, 255, 0.5);
			opacity: 1;
		}
		&:focus {
			border-color: @turquoise-color;
		}
		&_error {
			border-color: #ff0000;
		}
	}

	&__submit {
		text-align: right;
	}

	&__input-text-wrap {
		min-width: 174px;
		padding-top: 8px;
		position: relative;
		&_account {
			min-width: 232px;
			max-width: 232px;
		}
	}
	&__input-text {
		display: inline-block;
		padding-bottom: 4px;
		font-size: @16;
		color: #ffffff;
		.light();
		&_required {
			position: relative;
			&:after {
				position: absolute;
				content: '*';
				right: -10px;
				top: 3px;
				color: #AF1712;
				.light();
				font-size: @18;
			}
		}
	}
	&__input-under-text {
		color: #8c9398;
		.light();
		font-size: @14;
		padding-right: 69px;
		line-height: 1.1;
	}
	&__input-select-option {
		color: white;
		.regular();
		font-size: @16;
		background-color: #797D81;
	}
	&__input-wrap {
		display: flex;
	}
	&__block {
		display: inline-flex;
		align-items: center;
	}
}
