.checkbox-styled {
	margin-right: 8px;
	height: 21px;
	width: 21px;
	min-width: 21px;
	border: 1px solid rgba(255, 255, 255, 0.9);
	background: rgba(255, 255, 255, 0.2);
	cursor: pointer;
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		.svg-icon(icon-checked, 16px, 12px);
		margin-top: -6px;
		margin-left: -8px;
		display: none;
		pointer-events: none;
	}
	&.checked {
		&:after {
			display: block;
		}
	}
	&.disabled {
		background: #4a4a4a;
	}
}

