.svg-icon(@icon, @width, @height) {
	background: svg('@{icon}') no-repeat 0 0;
	background-size: @width @height;
	width: @width;
	height: @height;
}

.svg-icon-param(@icon, @width, @height, @param) {
	background: svg('@{icon}', '@{param}') no-repeat 0 0;
	background-size: @width @height;
	width: @width;
	height: @height;
}

.guest-title() {
	font-size: @26;
	text-align: center;
	.medium();
	color: white;

	@media screen and (max-width: 768px) {
		font-size: @16;
	}
}

@turquoise-color: #44c8b6;