#home-adv-chart svg>g path[stroke="none"] {
	fill: url(#fx) !important;
	fill-opacity:1 !important;
}

#fx stop:nth-child(1){
	stop-color: rgba(0, 201, 179, 0.5);
}

#fx stop:nth-child(2){
	stop-color: rgba(255,255,255,.5);
}