.footer {
	background: #1F242D;
	padding-top: 58px;
	padding-bottom: 31px;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__left-part {
		display: flex;
		align-items: center;
	}
	&__terms-block {
		display: flex;
		align-items: center;
		margin-right: 106px;
	}
	&__terms {
		color: #c9cbca;
		font-size: @16;
		.light();
		text-decoration: none;
		transition: all .3s ease;
		margin-right: 20px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			width: 2px;
			height: 16px;
			background: white;
			top: 0;
			right: -11px;
		}
	}
	&__privacy-policy {
		color: #c9cbca;
		font-size: @16;
		.light();
		text-decoration: none;
		transition: all .3s ease;
	}
	&__mail-block {
		display: flex;
		align-items: center;
	}
	&__mail-text {
		color: white;
		.regular();
		font-size: @16;
		margin-right: 5px;
	}
	&__mail-itself {
		color: #c9cbca;
		.light();
		font-size: @16;
		text-decoration: none;
	}
	&__right-part {

	}
	&__your-ads-media {
		color: #c9cbca;
		font-size: @16;
		.light();
	}
}