.payments-list  {
	padding-bottom: 168px;
	&__title{
		color: #ffffff;
		margin-bottom: 11px;
		padding-left: 38px;
		//padding-right: 42px;
		display: inline-flex;
		//justify-content: space-between;
	}
	&__title-item {
		font-size: @14;
		.medium();
		line-height: 1.29;
		text-align: center;
		&_1 {
			margin-right: 95px;
		}
		&_2 {
			margin-right: 110px;
		}
		&_3 {
			margin-right: 80px;
		}
		&_4 {
			margin-right: 80px;
			width: 140px;
		}
		&_5 {
			margin-right: 68px;
		}
		&_6 {
			margin-right: 55px;
		}
		&_7 {
			margin-right: 42px;
			width: 90px;
		}

	}
	&__block {
		border: 1px solid white;
		padding: 18px 0 74px 42px;
	}
	&__inner {
		max-height: 390px;
		overflow: scroll;
		overflow-x: auto;
	}
	&__table-row {
		display: flex;
		margin-bottom: 41px;
	}
	&__col {
		//text-align: center;
		font-size: @14;
		line-height: 1.29;
		color: #ffffff;
		.light();
		&_1 {
			width: 14%;
		}
		&_2 {
			width: 16%;
		}
		&_3 {
			width: 15%;
		}
		&_4 {
			width: 18%;
		}
		&_5 {
			width: 15%;
		}
		&_6 {
			width: 13%;
		}
		&_7 {
			width: 9%;
		}
	}
}