.payment-info {
	margin-bottom: 60px;
	padding-left: 60px;
	&__row {
		display: flex;
	}
	&__text {
		width: 363px;
		font-size: @16;
		line-height: 2.5;
		color: #ffffff;
	}
	&__sum {
		width: 49px;
		font-size: @16;
		color: #00c9b3;
		line-height: 2.5;
	}
}