.features {
	padding-top: 110px;
	padding-bottom: 110px;

	&__container {
		max-width: 1560px + 40px;
		padding-left: 20px;
		padding-right: 20px;
		margin-left: auto;
		margin-right: auto;
	}
	&__slider {

	}
	&__slider-wrap {
		margin-bottom: 25px;
	}
	&__slider-item {

	}
	&__slider-item-icon {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 52px;

		&_marketing {
			.svg-icon(icon-features-1, 178px, 178px);
		}
		&_online-interface {
			.svg-icon(icon-features-2, 178px, 178px);
		}
		&_management-interface {
			.svg-icon(icon-features-3, 178px, 178px);
		}
		&_cryptocurrency {
			.svg-icon(icon-features-4, 178px, 178px);
		}
	}
	&__slider-item-title {
		text-align: center;
		text-transform: uppercase;
		color: #353535;
		font-size: @16;
		.medium();
		margin-bottom: 27px;
		line-height: 1.2;
	}
	&__slider-item-divider {
		margin-bottom: 29px;
		margin-left: auto;
		margin-right: auto;
		width: 20px;
		height: 2px;
		background: #00CAB5;
	}
	&__slider-item-text {
		font-size: @16;
		.regular();
		line-height: 1.56;
		color: #adafb2;
		text-align: center;
	}

	&__pagination {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__pagination-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.swiper-pagination-bullet {
		width: 14px;
		height: 14px;
		min-width: 14px;
		border-radius: 50%;
		opacity: 1;
		border: 2px solid #A7A9AC;
		background: white;
		margin-right: 11px;
		&:last-child {
			margin-right: 0;
		}
	}
	.swiper-pagination-bullet-active {
		background: #323232;
	}
}

@media screen and (max-width: 650px) {
	.features {
		padding-top: 27px;
		padding-bottom: 17px;

		&__container {
			padding-left: 26px;
			padding-right: 26px;
		}

		&__slider-wrap {
			margin-bottom: 22px;
		}

		&__slider-item-icon {
			margin-bottom: 28px;

			&_marketing {
				.svg-icon(icon-features-1, 120px, 120px);
			}
			&_online-interface {
				.svg-icon(icon-features-2, 120px, 120px);
			}
			&_management-interface {
				.svg-icon(icon-features-3, 120px, 120px);
			}
			&_cryptocurrency {
				.svg-icon(icon-features-4, 120px, 120px);
			}
		}

	}
}

@media screen and (max-width: 380px) {
	.features {

		&__slider-item-title {
			font-size: @16;
		}
		&__slider-item-divider {
			margin-bottom: 29px;
			margin-left: auto;
			margin-right: auto;
			width: 20px;
			height: 2px;
			background: #00CAB5;
		}
		&__slider-item-text {
			font-size: @14;
		}

		.swiper-pagination-bullet {
			width: 9px;
			height: 9px;
			min-width: 9px;
			margin-right: 4px;
		}
	}
}